body{
  background-size: cover;
  background-image: url("./Assets/t1.jpg");
  background-attachment: fixed;
}
body {
  color: #6818b8;
}
h1,
h3 {
color: #3b2cb0;
}
#HNK {
  border-radius: 50%
}
